src/rpi/nodered/sample/flows.json
[{"id":"736eff82.f4d3c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f52b3ab.056ab","type":"debug","z":"736eff82.f4d3c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"e27250ec.25914","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":80,"wires":[["8d4ec0ac.56a338"]]},{"id":"5462b460.5f98bc","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":120,"wires":[["5dd2be34.648ed8"]]},{"id":"169bcb3e.1354b5","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":160,"wires":[["3296212a.40c4be"]]},{"id":"9311c237.dcd1d8","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":200,"wires":[["d5ecf986.ca8df8"]]},{"id":"dd105935.bf8958","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":240,"wires":[["a07119d.d22b4e8"]]},{"id":"a7144518.a90ac8","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":40,"wires":[["3735b604.9f5ab2"]]},{"id":"3296212a.40c4be","type":"set cmd","z":"736eff82.f4d3c8","name":"","busno":"1","address":20,"cmd_value":"1","x":280,"y":160,"wires":[]},{"id":"5dd2be34.648ed8","type":"set pwm16","z":"736eff82.f4d3c8","name":"","busno":"1","address":20,"pwm1_value":"8192","pwm2_value":"28546","x":280,"y":120,"wires":[]},{"id":"8d4ec0ac.56a338","type":"set pwm8","z":"736eff82.f4d3c8","name":"","busno":"1","address":20,"pwm1_value":"100","pwm2_value":"236","x":280,"y":80,"wires":[]},{"id":"3735b604.9f5ab2","type":"set pwm16","z":"736eff82.f4d3c8","name":"Off","busno":"1","address":20,"pwm1_value":0,"pwm2_value":0,"x":250,"y":40,"wires":[]},{"id":"d5ecf986.ca8df8","type":"set freq","z":"736eff82.f4d3c8","name":"","busno":"1","address":20,"pwm1_value":"65535","pwm2_value":"65535","x":280,"y":200,"wires":[]},{"id":"a07119d.d22b4e8","type":"get cmd","z":"736eff82.f4d3c8","name":"","busno":"1","address":20,"x":280,"y":240,"wires":[["8f52b3ab.056ab"]]},{"id":"bb764c71.b3a19","type":"get pwm16","z":"736eff82.f4d3c8","name":"","busno":"1","address":20,"x":280,"y":280,"wires":[["8f52b3ab.056ab"]]},{"id":"d1ec3ffd.46f6d8","type":"inject","z":"736eff82.f4d3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":280,"wires":[["bb764c71.b3a19"]]}]